<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    [ngClass]="{hidden: !(isHandset$ | async) }">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon aria-label="Manga icon">book</mat-icon>Manga</a>
      <a mat-list-item href="#"><mat-icon aria-label="Author icon">face</mat-icon>Tác giả</a>
      <a mat-list-item href="#"><mat-icon aria-label="Translate Team icon">group</mat-icon>Nhóm dịch</a>
      <a mat-list-item href="#"><mat-icon aria-label="Category icon">category</mat-icon>Thể Loại</a>
      <a mat-list-item href="/"><mat-icon aria-label="Login icon">account_circle</mat-icon>Đăng nhập</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a href="/">Acomici</a>
        <a href="/" *ngIf="!(isHandset$ | async)">
          <mat-icon aria-label="Home icon">home</mat-icon>
          Trang chủ
        </a>
        <a href="/" *ngIf="!(isHandset$ | async)">
          <mat-icon aria-label="Manga icon">book</mat-icon>
          Manga
        </a>
        <a href="/" *ngIf="!(isHandset$ | async)">
          <mat-icon aria-label="Author icon">face</mat-icon>
          Tác giả
        </a>
        <a href="/" *ngIf="!(isHandset$ | async)">
          <mat-icon aria-label="Translate Team icon">group</mat-icon>
          Nhóm dịch
        </a>
        <a href="/" *ngIf="!(isHandset$ | async)">
          <mat-icon aria-label="Category icon">category</mat-icon>
          Thể loại
        </a>
        <form action="">
          <mat-form-field [floatLabel]="never" [hideRequiredMarker]='true' >
            <input matInput placeholder="Nhập bất kì để tìm..." required>
          </mat-form-field>
        </form>
        <span class="spacer" *ngIf="!(isHandset$ | async)"></span>
        <a href="/" *ngIf="!(isHandset$ | async)">
          <mat-icon aria-label="Login icon">account_circle</mat-icon>
          Đăng nhập
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
